			</div>
			<script src="https://fb.me/react-with-addons-0.14.2.min.js"></script>
			<script src="https://fb.me/react-dom-0.14.2.min.js"></script>
			<script src="./js/components.js" type="text/javascript"></script>
		</body>
</html>