html, body, #wrapper
{
	height: 100%;
	width: 100%;
	background: #6F7AA0;
	overflow: hidden;
}

.side-panel {
	height: 100%;
	width: 15%;
	background: #434A61;
}

#left {
	float: left;
}

#right {
	float: right;
}

#middle {
	height: 100%;
	width:85%;
	background: #E5E5E5;
	float: left;
	overflow: hidden;
	#searchWrap {
		height: 60px;
		width: 100%;
		#searchbar {
			height: 100%;
			width: 100%;
			border: none;
			border-bottom: 1px solid #434A61;
			font-family: 'Lato', sans-serif;
			font-size: 35px;
			padding-left: 10px;
		}
	}
	#contentWrap {
		height: calc(100% - 60px);
		width: 100%;
		background: #DADADA;
		overflow: auto;
		padding-left: 2.5%;
		.movielist {
			height: 100%;
			width: 100%;
			.movieItem {
				height: 275px;
				width: 200px;
				background-size: cover;
				background-position: 0, -50px;
				background-repeat: no-repeat;
				float: left;
				margin: 10px 10px 10px 10px;
				cursor: pointer;
				.itemInfo {
					height: 100%;
					width: 100%;
					background: rgba(0,0,0,0.5);
					opacity: 0;
					color: white; 
					font-family: 'Lato', sans-serif;
					text-align: center;
					padding: 10px 10px 10px 10px;
					box-sizing: border-box;
					float: none;
					&:hover {
						opacity: 1;
					}

					.itemTitle {
						font-size: 1.2rem;
						font-weight: 600;
					}

					.itemSection {
						margin: 10px 0;
					}
				}
			}
		}
	}
}

.logo {
	height: 60px;
	width: 15%;
	text-align: center;
	line-height: 60px;
	position: absolute;;
	bottom: 60px;
	left: 0;
	&:hover {
		background: #171A25;
	}

	h2 {
		font-family: 'Lato', sans-serif;
		color: white;
		font-size: 42px;
	}
}

.menu {
	width: 100%;
	margin: 20px 0 20px 0;
	height: 144px;
	.menu-item {
		box-sizing: border-box;
		height: 115px;
		width: 40%;
		font-family: 'Lato', sans-serif;
		text-align: center;
		color: #ADADAD;
		background: #212637;
		float: left;
		line-height: 115px;
		transform: translate(25%, 0);
		a {
			text-decoration: none;
			color: inherit;
			display: block;
		}
		&:hover {
			background: #171A25;
			color: white;
		}
	}
	.active {
			background: #171A25;
			color: white;
		}
}

#genres {
	width: 100%;
	margin-top: 10px;
	.genres {
	width: 100%;
	text-align: center;
	.genre-label {
		font-family: 'Lato', sans-serif;
		font-size: 20px;
		color: white;
	}
	#genre-input {
		height: 40px;
		width: 80%;
		border: none;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 20px;
		transform: translate(0, 25%);
		text-align: center;
	}
	#genre-list {
		width: 80%;
		margin-top: 20px;
		padding-left: 10%;
		.genreItem {
			height: 40px;
			width: 100%;
			line-height: 40px;
			color: #ADADAD;
			text-align: left;
			font-family: 'Lato', sans-serif;
			margin-top: 10px;
			padding: 0 5% 0 5%;
			background: #212637;
			box-sizing: border-box;
			&:hover {
				color: white;
				background: #171A25;
				cursor: pointer; 
			}
			.icon {
				float: right;
				transform: translate(0, 75%);
				&:hover {
					color: red;
				}
			}
		}
	}
}
}

#user {
	width: 100%;
	height: 60px;
	padding-left: 40px;
	margin: none;
	box-sizing: border-box;
	line-height: 60px;
	img {
		border-radius: 50px;
		height: 50px;
		width: 50px;
		margin-top: 5px;
		float:left;
	}
	#userName {
		font-size: 25px;
		color: white;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		margin-left: 20px;
	}

	&:hover {
		background: #171A25;
		cursor: pointer;
	}
}

#playlist-container {
	width: 100%;
	height: 150px;
	margin-top: 50px;
	text-align: center;
	h2 {
		font-family: 'Lato', sans-serif;
		font-size: 20px;
		color: white;
		margin-bottom: 20px;
	}
	#create-playlist {
		font-family: 'Lato', sans-serif;
		font-size: 15px;
		color: white;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

#logout {
	height: 60px;
	width: 15%;
	text-align: center;
	line-height: 60px;
	position: absolute;
	bottom: 0;
	right: left;
	background: #ED5252;
	a {
		color: white;
		text-decoration: none;
		font-size: 25px;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		display: block;
	}
	&:hover {
		background: #FD3636;
	}
}

#playlist-creator-container {
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
 	z-index: 999;
	display:block;
		.creatorBody {
		height: 20%;
		width: 40%;
		position: absolute;
		top: 50%;
		left: 50%;
		background: white;
		transform: translate(-50%, -50%);
		border-radius: 7px;
		text-align: center;
		padding: 10px 10px 10px 10px;
		color: black;
}
		h2 {
			color: #006BA8;
			font-size: 30px;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
		}
		#playlistInput {
			height: 50px;
			width: 300px;;
			border: 2px solid #006BA8;
			border-radius: 7px;
			text-align: center;
			margin-bottom: 20px;
		}
		#playlistSave {
			height: 100px;
			width: 125px;
			border: none;
			border-radius: 10px;
			padding: 0;
			background: #02B73E;
		}
}
#playlistViewer {
	height:100%;
	width: 85%;
	background: white;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 15%;
	z-index: 999;
}
.playlist-selector-container {
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
 	z-index: 999;
	display:block;
	.creatorBody {
		height: 20%;
		width: 40%;
		position: absolute;
		top: 50%;
		left: 50%;
		background: white;
		transform: translate(-50%, -50%);
		border-radius: 7px;
		text-align: center;
		padding: 10px 10px 10px 10px;
		color: black;
}
}