html, body, #wrapper
{
	height: 100%;
	width: 100%;
	background: #15AFFF;
	overflow: hidden;
}

.side-panel {
	height: 100%;
	width: 15%;
	background: #434A61;
	position: relative;
}

#left {
	float: left;
	padding-top: 25px;
}

#right {
	float: right;
}

#middle {
	height: 100%;
	width:70%;
	background: #E5E5E5;
	float: left;
	.searchbar {
		height: 60px;
		width: 100%;
		border: none;
		border-bottom: 1px solid #434A61;
		font-family: 'Lato', sans-serif;
		font-size: 35px;
		padding-left: 10px;
	}
}

.logo {
	height: 50px;
	width: 100%;
	text-align: center;
	line-height: 50px;
	h2 {
		font-family: 'Lato', sans-serif;
		color: white;
		font-size: 42px;
	}
}

.menu {
	width: 100%;
	margin: 20px 0 20px 0;
	height: 144px;

	.menu-item {
		box-sizing: border-box;
		height: 115px;
		width: 40%;
		font-family: 'Lato', sans-serif;
		text-align: center;
		color: #ADADAD;
		background: #212637;
		float: left;
		line-height: 115px;
		transform: translate(25%, 0);
		a {
			text-decoration: none;
			color: inherit;
			display: block;
		}
		&:hover {
			background: #171A25;
			color: white;
		}
	}
	.active {
			background: #171A25;
			color: white;
		}
}

#genres {
	width: 100%;
	margin-top: 10px;
	.genres {
	width: 100%;
	text-align: center;
	.genre-label {
		font-family: 'Lato', sans-serif;
		font-size: 20px;
		color: white;
	}
	#genre-input {
		height: 40px;
		width: 80%;
		border: none;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 20px;
		transform: translate(0, 25%);
		text-align: center;
	}
	#genre-list {
		width: 80%;
		margin-top: 20px;
		padding-left: 10%;
		.genreItem {
			height: 40px;
			width: 100%;
			line-height: 40px;
			color: #ADADAD;
			text-align: left;
			font-family: 'Lato', sans-serif;
			margin-top: 10px;
			padding: 0 5% 0 5%;
			background: #212637;
			box-sizing: border-box;
			&:hover {
				color: white;
				background: #171A25;
				cursor: pointer; 
			}
			.icon {
				float: right;
				transform: translate(0, 75%);
				&:hover {
					color: red;
				}
			}
		}
	}
}
}

#user {
	width: 100%;
	height: 60px;
	padding-left: 40px;
	margin: none;
	box-sizing: border-box;
	line-height: 60px;
	img {
		border-radius: 50px;
		height: 50px;
		width: 50px;
		margin-top: 5px;
		float:left;
	}
	#userName {
		font-size: 25px;
		color: white;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		margin-left: 20px;
	}

	&:hover {
		background: #171A25;
		cursor: pointer;
	}
}

#playlist-container {
	width: 100%;
	height: 150px;
	margin-top: 50px;
	text-align: center;
	h2 {
		font-family: 'Lato', sans-serif;
		font-size: 20px;
		color: white;
		margin-bottom: 20px;
	}
	#create-playlist {
		font-family: 'Lato', sans-serif;
		font-size: 15px;
		color: white;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

#logout {
	height: 60px;
	width: 100%;
	text-align: center;
	line-height: 60px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: #ED5252;
	a {
		color: white;
		text-decoration: none;
		font-size: 25px;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		display: block;
	}
	&:hover {
		background: #FD3636;
	}
}