#landingWrap
{
	height: 100%;
	width: 100%;
	background: url('../img/img-2.jpg');
	background-size: cover;
}

.landing-container
{
	height: 100%;
	width: 100%;
	
	.banner
	{
		height: 10%;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		position: absolute;
		top: 50%;
		left: 0;
		text-align: center;
		//transform: translate(0, -50%);
		opacity: 0;
		color: white;
		font-family: 'Lato', sans-serif;
		h1 {
			font-size: 7vh;
		}	
	}

	.btn
	{
		height: 50px;
		width: 125px;
		opacity: 0;
		border: none;
		border-radius: 10px;
		padding: 0;
		transition: .4s ease;
		text-align: center;
		position: absolute;
		top: 65%;
		left: 50%;
		font-family: 'Lato', sans-serif;
		text-decoration: none;

		&:before {
			content: "";
			display: inline-block;
			height: 50px;
			vertical-align: middle;
		}

		&:hover {
			cursor: pointer;
		}
	}

	#facebook
	{
		background-color: transparent;
		color: #3b5998;
		border: 2px solid #3b5998;
		margin-left: -150px;
		&:hover {
			background-color: #3b5998;
			color: white;
			//transition: .2s ease;
		}
	}

	#google
	{
		background-color: transparent;
		color: #dd4b39;
		border: 2px solid #dd4b39;
		margin-right: -150px;
		&:hover {
			background-color: #dd4b39;
			color: white;
			//transition: .2s ease;
		}
	}
}